.inline {
    display: inline-block;
}
.price, .amount {
    text-align: right;
}
span.amount input {
    width: 5rem;
}
DIV.table 
{
    display:table;
    width: max-content;
}
FORM.tr, DIV.tr
{
    display:table-row;
    width: max-content;
}
SPAN.td
{
    display:table-cell;
    padding-right: 1rem;
    width: max-content;
}
button.link {
	overflow: visible;
	width: auto;
}
button.link {
	font-size: 1rem;
	text-align: left;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}